<!DOCTYPE html>
<html>
<head>
    <title>The Last Social Media You'll Ever Need | Twotube</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    {% include "header.html" %}
    <nav id="sidebar">
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/about/">О сайте</a></li>
            <li><a href="/list/">Сообщения</a></li>
        </ul>
    </nav>

    <div id="content">
        Контент страницы
    </div>
    {% include "footer.html" %}
</body>
</html>