<!DOCTYPE html>
<html>
<head>
    <title>John Dohn | Twotube</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    {% include "header.html" %}
    <nav id="sidebar">
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/about/">О сайте</a></li>
            <li><a href="/list/">Сообщения</a></li>
        </ul>
    </nav>

    <div id="content">
        {% include "card.html" with name="John Dohn" email="jd@example.com" %}
        {# А можно сделать иначе: передать значения переменных(так и нужно делать в будущем) #}
        {% include "card.html" with name=user.name email=user.mail %}
    </div>
    {% include "footer.html" %}
</body>
</html>